
body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Roboto', sans-serif;
}
P{
    font-size: 15PX;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    
}

.cardHolder{
    position: fixed;
    top: 15%;
    left: 38%;
}

h3{
    font-weight: 700;
    font-size: 1.5em;
}

.wording{
    padding: 15px;
}

img{
    border-radius: 20px;
}

.card{
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    padding: 15PX;
    border-radius: 20px;
}